<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

<style>
    .dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; margin: 20px}
    .dropzone .dz-message { font-weight: 400; }
    .dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }
    .container-fluid { min-height: 100%; height: 100%;}
</style>

<div>
    <div class="container-fluid">
        <br>
        <br>
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm text-center">
            <center>
              <h2>Tree Visualizer Drag and Drop</h2>
            </center>
          </div>
          <div class="col-sm"></div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-2" id=""></div>
            <div class="dropzone col-md-8" id="validate">
              <div class="dz-message">Drop VCF and Newick File Here!</div>
            </div>
            <center>
            <div class="d-flex justify-content-center">
              <button class="block" onclick="testFunction()">Submit Files</button>
            </div>
            </center>
          <div class="col-md-2" id=""></div>
        <p id="demo"></p>
        </div>
    </div>
</div>

<script>
     var validatedropzone = new Dropzone("#validate", { url: "visualize-tree", maxFilesize: 20000, parallelUploads:2, autoProcessQueue: false});
     function testFunction() {
        validatedropzone.processQueue();
     }

   validatedropzone.on("queuecomplete", function(file) {
    // Called when all files in the queue finish uploading.
    window.location = "{{ url_for('visualize_tree') }}";
  });

</script>

<style>
body {
    background: rgb(243, 244, 245);
    height: 100%;
    color: rgb(100, 108, 127);
    line-height: 1.4rem;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

h1 { text-align: center; }
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.block {
  display: block;
  width: 25%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
</style>
